// Breakpoints -  to acces map-get($breakpoints, xsm)
$breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
  xsm: 0px
);

// Font Weights - map-get($weights, w0)
$weights: (
  w0: 400,
  w1: 600,
  w2: 800
);

// Golden K
$golden-k: 1.618033988749894;

// Font Sizes - map-get($sizes, s0)
$sizes: (
  s0: 1rem,
  s1: 1rem * $golden-k * $golden-k,
  s2_sm: 1rem * $golden-k * $golden-k * $golden-k,
  s2: 1rem * $golden-k * $golden-k * $golden-k * $golden-k)
